* {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

.Game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
  height: 100vh;
  background-color: #2e4c6d;
  position: relative;
}

.button {
  border-radius: 10px;
  background-color: #fc997c;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  border: 1px solid transparent;
  color: #2e4c6d;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
